
#footer {
    position: relative;
    bottom:0;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-top: 2px solid black;
    align-items: center;
    font-size: 15px;
    padding: 30px 0;
  }
  .legal {
    font-size: 10px;
    color: black !important;
  }
  #developer {
    color: black !important;
  }
  .footer-content {
    width: 33.3%;
  }
  #social img {
    width: 40px;
  }
  #footer-logo img {
    width: 65%;
    height: auto;
  }
  #social {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  #contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  #contact-info a {
    margin-left: 5px;
    color: black;
  }
  
  @media (max-width: 600px) {
   
  
    /* footer */
    #footer {
      position: relative;
      flex-direction: column-reverse;
    }
    .footer-content {
      width: 100%;
    }
    #footer-logo img {
      width: 85%;
      margin: 20px 0;
    }
    #social img {
      margin: 20px 0;
    }
    #contact-info {
      margin-bottom: 10px;
    }
    
  }
  