<div id="footer">
  <div class="footer-content" id="footer-logo">
      <a routerLink=""><img src="../assets/images/NEWLOGO.png" alt="logo" /></a>
  </div>
  <div class="footer-content" id="copyright">
      <p class="mb-0 mt-1">© 2018 Westside Kitchen and Bath</p>
      <a class="legal" routerLink="/terms">Terms & Conditions</a><span> | </span><a class="legal" routerLink="/privacy">Privacy
          Policy
      </a><span>
          | </span><a class="legal" routerLink="/contact">
          Contact Us</a>
      <p>Developed by <a id="developer" href="http://www.drewstudley.com" target="_blank">Drew Studley</a></p>
  </div>
  <div class="footer-content" id="social">
      <div id="social-icons">
          <a href="https://www.facebook.com/westsidekitchenandbath/" target="_blank"><img src="../assets/images/facebook.png"
                  alt="facebook" /></a>
      </div>
      <div id="contact-info">

          <span class="oi oi-phone" title="icon name" aria-hidden="true"> </span><a href="tel:+15853037664">
              +1(585)303-7664</a><br>
          <span class="oi oi-email" title="icon name" aria-hidden="true"> </span><a href="dstudley@westsidekitchenandbath.com">dstudley@westsidekitchenandbath.com</a>
      </div>
  </div>
</div>
