.allImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.card {
    width: 25%;
    height: fit-content;
    margin: 50px 4.16%;
    border: 5px double #919aa1;
    background-color: #343a40;
    align-self: center;
}
a {
    margin-top: 25px;
    padding: 4.16%;
}
.none {
    display: none;
}
@media (max-width: 900px) {
    .allImages {
        flex-direction: column;
        justify-content: center;
    }
    .card {
        width: 95%;
        margin: 50px auto 0 auto;
    }
}