<div class="">
    <img id="top-image" src="../assets/images/tape.jpeg" alt="measuring tape" />
</div>
<div class="about-info">
    <div class="about-container">
        <img id="pro-photo" src="../assets/images/male-placeholder-image.jpeg" alt="photo of david studley" />
    </div>
    <div id="pro-bio" class="about-container">
        <h2>Westside Kitchen and Bath</h2>
        <h4>Mission:</h4>
        <p>Provide our customers with the service and expertise to get the job done and get it done right.</p>
        <h4>About:</h4>
        <p>Westside is a kitchen and bath installation company founded in 2001 by David Studley in Rochester, NY. In Our eighteen years of doing business we have served a magnitude of customers, completing thousands of jobs and we stand behind the craftsmanship of each and everyone of them. We offer full design services and craftsman that see every job through to the end.</p>
        <a routerLink="/contact"><h4>Contact Us</h4></a>
        <!-- <hr> -->
        <!-- <h4>David Studley</h4>
        <h6>Owner/Oporator</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo, lorem at blandit efficitur, leo leo
            ullamcorper mi, non accumsan est dui in ligula. Integer lacinia leo interdum, ornare nibh a, accumsan est.
            Sed non fringilla ex. Vivamus vulputate nisl sed quam commodo tincidunt. Praesent non ligula vel mauris ultrices
            faucibus eget aliquam nulla. Pellentesque tincidunt sed purus sit amet fermentum. Maecenas vel efficitur
            sem. Vivamus vulputate lacinia est vitae mattis. Fusce condimentum enim et felis porta vehicula. In a sapien
            ipsum.
        </p>
        <p> Cras vitae accumsan nibh. In fermentum interdum auctor. Mauris posuere lobortis purus, quis dapibus turpis
            posuere nec. Quisque at volutpat elit. Phasellus vehicula sollicitudin metus, non ultrices felis. Sed dictum
            dignissim nunc quis imperdiet. Proin lobortis ipsum orci, eget condimentum est auctor vel. Donec quis ante
            nunc. Cras vestibulum enim enim, sed accumsan risus convallis vitae. Praesent vehicula efficitur libero ac
            hendrerit.
        </p> -->
    </div>
</div>
