<div id="contact">
    <div id="contact-methods">
        <h3>Contact us by phone:</h3>
        <span class="oi oi-phone" title="icon name" aria-hidden="true"> </span><a href="tel:+15853037664">
            +1(585)303-7664</a><br /><br />
        <h3>Email us directly:</h3>
        <span class="oi oi-envelope-closed" title="icon name" aria-hidden="true"> </span><a href="mailto:dstudley@westsidekitchenandbath.com">
            dstudley@westsidekitchenandbath.com</a>
        <h3>Or complete the form below:</h3>
    </div>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJ7ntf1cKwnh4UfBuApxCa5vZKFq_eL0c3Asw9aIToQ_mtgQ/viewform?embedded=true" width="640" height="1227" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>