.allProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.card {
    width: 25%;
    margin: 100px 4.16%;
    border: 5px double #919aa1;
    background-color: #343a40;
    
}
.card h4, p {
    color: #919aa1 !important;
}
@media (max-width: 900px) {
    .allProjects {
        flex-direction: column;
        justify-content: center;
    }
    .card {
        width: 95%;
        margin: 50px auto 0 auto;
    }
}