<div id="services-container">
    <div class="servies-info-container">
        <h2>What we offer:</h2>
        <ul>
            <li>Full service design</li>
            <li>Product knowledge</li>
            <li>Expirenced carpentry experts</li>
            <li>Interior design experts</li>
        </ul>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../assets/images/kitchen-remodel-brighton-ny.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="kitchens.html">Kitchens</a></h5>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../assets/images/stock-bath.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="bathroom.html">Bathrooms</a></h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../assets/images/stock-remodeling.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="general.html">General</a></h5>
            </div>
        </div>
    </div>
</div>
