<div>
<h1>Privacy Policy</h1>

<p>Last updated: November 19th, 2018</p>

<p>Westside Kitchen and Bath ("us", "we", or "our") operates http://www.westsidekitchenandbath.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>

<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>

<h4>Information Collection And Use</h4>

<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>

<h4>Log Data</h4>

<p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>

<p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

<p>In addition, we may use third party services such as Google Analytics that collect and monitor data.</p>

<p>The Log Data section is for businesses that use analytics or tracking services in websites or apps, like Google Analytics. For the full disclosure section, create your own Privacy Policy.</p>

</div>