<body>
  <div id="landing-page">
      <div id="carouselExampleControls" class="index-carousel carousel slide" data-ride="carousel" data-pause=false data-interval="7000">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100 h-900 carousel-image" src="../assets/images/pexels-photo-1454804.jpeg" alt="First slide">
                  <div class="carousel-caption d-none d-xl-block">
                    
                      <h1>Your Dream Remodel</h1>
                    
                  </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100 h-900 carousel-image" src="../assets/images/pexels-photo-1380019.jpeg" alt="Second slide">
                  <div class="carousel-caption d-none d-xl-block">
                      <h1>On Your Timeline</h1>

                  </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100 h-900 carousel-image" src="../assets/images/sample_kitchen2.jpeg" alt="Third slide">
                  <div class="carousel-caption d-none d-xl-block">
                      <h1>Within Your Budget</h1>

                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
  <div id="center-container">
  <div id="specializing-container">
      <div id="specializing">
          <div id="sp-content">
              <h2>Specializing in <i>Remodels & New Builds</i></h2>
              <p>Westside Kitchen & Bath is highly skilled in evaluating your dream designs and making them a
                  reality.<br> With
                  <strong>20 YEARS</strong> of experience in the field,<br>WKB is here to elevate your project to the
                  next
                  level.
              </p>
          </div>
      </div>
  </div>

  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide testimonial-carousel " data-ride="carousel" data-interval=10000>
      <div class="carousel-inner testimonial">
        <div class="carousel-item active">
          <div class="card">
              <div class="card-header">
                  Testimonial One
              </div>
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <img class="stars" src="../assets/images/4.5stars.png" alt="stars" />
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
         
        </div>
        <div class="carousel-item">
          <div class="card">
              <div class="card-header">
                  Testimonial Two
              </div>
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <img class="stars" src="../assets/images/4.5stars.png" alt="stars" />
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
        </div>
        <div class="carousel-item">
          <div class="card">
              <div class="card-header">
                  Testimonial Three
              </div>
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <img class="stars" src="../assets/images/4.5stars.png" alt="stars" />
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </div> -->
  <div id="info-container">

      <div id="what-we-do" class="info-image">
          <h1>What we do</h1>
          <p>There is not a job too big or small </p>
          <a routerLink="projects">Learn More</a>
      </div>
      <div id="how-we-do-it" class="info-image">
          <h1>How we do it</h1>
          <p>From design to completion</p>
          <a routerLink="projects">Learn More</a>
      </div>

      <div id="who-we-are" class="info-image">
          <h1>Who we are</h1>
          <p>Craftsman with years of experience at your service</p>
          <a routerLink="about">Learn More</a>
      </div>
  </div>